include mixins
doctype
html( lang="en" )
    include head
    body(style="padding-bottom:10rem;")
    include nav
    .container
      block content
        .jumbotron.aboutus-banner
            h1 
                span About Us.
            p   
                span -------------------------------------
        .row
            .col-md-12.col-sm-12.col-xs-12
                div.list-group
                    a.list-group-item.active(href='#')
                        h4.list-group-item-heading List group item heading
                        p.list-group-item-text Donec id elit non mi porta gravida at eget metus. 

                    a.list-group-item(href='#')
                        h4.list-group-item-heading List group item heading
                        p.list-group-item-text Donec id elit non mi porta gravida at eget metus. 



                   

