include mixins
doctype
html( lang="en" )
    include head
    body(style="padding-bottom:10rem;")
    include nav
    .container
      block content
        .jumbotron.home-banner
            h1 
                span Welcome to Clever Convert
            p 
                span Here you can find the cheapest and easiest way to convert old tapes, to new.
            p: +button("default", "/aboutus", "large") Find Out More
        .row
            
            .col-md-6.col-sm4.col-xs-12
                +panel("About Us", "info")
                  div.imagewrapper
                  p We are some sick place that provides the cheapest and easiest way to turn your old media, into new. Cine films and VHS tapes deteriorate over time, not to mention equipment for such movies are becoming extinct so if you have old videos and cine film of family weddings, birthdays and anniversaries lying around the house, keep them safe by converting them into modern media such as DVD or USB.
                     
            .col-md-6.col-sm-4.col-xs-12
                div.list-group
                    a(href='#').list-group-item.active Price List
                    a(href='#').list-group-item Cost per hour: £5.00
                    a(href='#').list-group-item Bulk discount: £4.00 per hr over 10 hrs
              
            .col-md-12.col-sm4.col-xs-6
                +panel("FAQ", "info")
                  div.imagewrapper
                  p We are a business that provides the cheapest and easiest way to turn your old media, into new. Cine films and VHS tapes lose their quality over time, not to mention equipment for such movies are becoming extinct so if you have old videos and cine film of family weddings, birthdays and anniversaries lying around the house, keep them safe by converting them into modern media such as DVD or USB.
                    
                    

                   

