div
    center   
        img(src="./images/cleverconvertlogo.png").img-rounded.img-responsive.logo
        p
        .container
            +nav("", "dropdown_menu", "default")
                +nav_item( "/", "active") Home
                +nav_item( "/services" ) Services
                +nav_item( "/aboutus" ) About Us
                +nav_item( "/order" ) Order
                