include mixins
doctype
html( lang="en" )
    include head
    body(style="padding-bottom:10rem;")
    include nav
    .container
      block content
        .jumbotron
            h1 Welcome to Clever Convert
            p Thank you for your order, we will be in touch soon

